<launch>
    <group ns="/pcl_filters"> <node pkg="nodelet" type="nodelet" name="box_filter_pcl_manager" args="manager" output="screen"/>
    
    <!-- Run a passthrough filter to delimit in x direction -->
    <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/color/points" />
    <rosparam>
        filter_field_name: x
        filter_limit_min: -.8
        filter_limit_max: 0.5
    </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in y direction -->
    <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/color/points" />
        <rosparam>
            filter_field_name: y
            filter_limit_min: -1.
            filter_limit_max: .3
        </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in z direction -->
    <node pkg="nodelet" type="nodelet" name="psz" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/color/points" />
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.0
            filter_limit_max: 2.0
        </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="cropbox" args="load pcl/CropBox box_filter_pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/color/points" />
        <rosparam>
            min_x: -0.75
            max_x: 0.5
            min_y: -0.6
            max_y: 0.1
            min_z: $(arg 0.1)
            max_z: 2.0
        </rosparam>
    </node>

    </group> 
</launch>